:root {
    --bg-color: #101010;
    --section-dividers: #545151;
    --text-color: #FFFDFD;
    --hyper-link: #ff4a4a;
}


/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap'); */

body,
html {
    font-size: 16px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 40px 0;
    background-color: var(--bg-color);
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.25em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.75em;
}

a {
    color: var(--hyper-link);
    font-weight: 700;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li,
ol {
    color: var(--text-color);
}

img {
    width: 100%;
    height: auto;
}

.divider {
    border-bottom: 1px solid var(--section-dividers);
    padding-bottom: 20px;
}

.margintop30 {
    margin-top: 30px;
}

.header .header-container {
    display: flex;
    justify-content: space-between;
    max-width: 1366px;
    width: 100%;
    margin: 0 auto; 
    position: relative;
}

.header-container .image-container {
    width: 34%;
}

.header-container .logo {
    max-width: 50px;
    margin-bottom: 20px;
}

.image-container img {
    max-width: 275px;
}

.header-container .title-container {
    width: 100%;
    /* text-align: center;
    align-self: center; */
}

.title-container h1 {
    margin-top: 0;
}

.header .col-left {
    width: 75%;
    display: flex;
    justify-content: flex-start;
}

.header .col-right {
    width: 25%;
    position: relative;
}

.navigation {
    position: absolute;
    right: 0;
    top: 0;
}

.navigation ul {
    list-style: none;
}

.navigation a {
    padding: 2px 0;
    display: inline-block;
}

.main-content {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
}

.contactLinks {
    list-style: none;
    left: 0;
}

* {box-sizing:border-box}

/* Slideshow container */
.workSlideshow {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



